body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    background: #374859;
    color: rgb(57, 58, 56);
}

h1,h2{
    color: grey;
}

.banner {
    letter-spacing: 3px;
    word-spacing: 5px;
    text-align: center;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

form input[type=text] {
    padding: 10px;
    font-size: 24px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #f1f1f1;
  }


  form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(47, 99, 141);
    color: white;
    font-size: 24px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
  }

  @media screen and (max-width: 600px){

    *{
        font-size: 14px;
    }

    form input[type=text] {
        padding: 5px;
        font-size: 16px;
        border: 0.5px solid grey;
        float: left;
        width: 80%;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        background: #f1f1f1;
      }

      form button {
        float: left;
        width: 20%;
        padding: 5px;
        background: rgb(47, 99, 141);
        color: white;
        font-size: 16px;
        border: 1px solid grey;
        border-left: none; /* Prevent double borders */
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        cursor: pointer;
      }

      h2{
          font-size: 14px;
      }

      h3{
          font-size: 12px;
      }
  }

  form button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form::after {
    content: "";
    clear: both;
    display: table;
  }

/* input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
    width: 240px;
} */


img {
    display: block;
    max-width: 500px;
    max-height: 376px;
    border-radius: 2px;
    /* width: auto;
        height: auto; */
    object-fit: fill;
}


.hidden {
    display: none;
}

ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}



.button {
    border: none;
    display: inline-block;
    background-color: #9e9e9e;
    color: black;
    border-radius: 3px;
    padding: 10px 16px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: 2px;
}

.details_area{
    display: none;
    margin-left: 30px;
}

.details_hide{
    display: flex;
    align-items: center;
    justify-content: center;
}


a:link{
    text-decoration: none;
}

.recipe-header{
    display: flex;
    flex-direction: row; 
}



.recipe-details-container{
    padding: 10px;
    display: flex;
    
}

.recipe-item{
    border: 1px solid slategray;
    border-radius: 3px;
    margin-bottom: 5px;
    padding : 20px;
    background: slategray;
}


.recipe-info{
    display: flex;
    flex-grow: 8;
}

.recipe-image {
    display: flex;
    flex-grow: 2;
    max-width: 300px;
    height: 225px;
    object-fit: contain;
}

@media screen and (max-width: 600px) {
    .recipe-image {
        display: flex;
        flex-grow: 2;
        max-width: 150px;
        height: 126px;
        object-fit: contain;
    }
  }

i{
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    color: white;
}

.navigate{
    display: flex;
    justify-content: center;
    width: 100%;
}

.ui-dialog.ingredient-dialog{
    background: #5c6f81;
}
