.ui-dialog {
    background: sandybrown;
    border: 1px solid rgb(245, 185, 75);
}

.ui-dialog-titlebar {
    background: rgb(224, 137, 61);
    color: white;
}

.ui-dialog-content {
    color: white;
}
